/* global stuff */

:root {
    --blue-color: hsl(197, 64%, 32%);
    --lightblue-color: hsl(197, 64%, 45%);
    --brown-color: hsl(19, 64%, 45%);
    --lightbrown-color: hsl(19, 64%, 60%);
    --darkbrown-color: hsl(19, 64%, 30%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

header {
    padding: 30px 0px;
}

h1 {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: var(--blue-color);
}

/* menu */

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    margin-top: 80px;
}

button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    outline: none;
    border: none;
}

button:disabled,
select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

button {
    padding: 5px 14px;
    cursor: pointer;
    background: var(--blue-color);
    color: white;
    border-radius: 5px;
    transition: opacity 150ms linear;
}

button:hover,
button:focus {
    filter: brightness(1.2);
}

select {
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

select:hover,
select:focus {
    border-color: var(--blue-color);
}

#numberInput {
    width: 100px;
}

#delayInput {
    width: 150px;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    color: var(--blue-color);
}

/* game */

#game {
    --disk-number: 5;
    --game-height: 320px;
    --board-height: 22px;
    --peg-width: 200px;
    --peg-height: 270px;
    --peg-distance: 50px;
    --peg-thickness: 8px;
    --disk-scaler: calc(var(--peg-width) / var(--disk-number));
    --disk-height: 26px;
    width: calc(3 * var(--peg-width) + 2 * var(--peg-distance));
    height: var(--game-height);
    margin: 0 auto;
    position: relative;
}

#game::after {
    content: "";
    position: absolute;
    width: 106%;
    transform: translateX(-3%);
    height: var(--board-height);
    top: var(--game-height);
    background: var(--brown-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000c inset;
}

/* pegs */

.peg {
    width: var(--peg-thickness);
    height: var(--peg-height);
    background: linear-gradient(
        90deg,
        var(--lightbrown-color),
        var(--darkbrown-color)
    );
    border-top-left-radius: var(--peg-thickness);
    border-top-right-radius: var(--peg-thickness);
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

.peg:nth-of-type(1) {
    left: calc(0.5 * var(--peg-width));
}

.peg:nth-of-type(2) {
    left: calc(
        var(--peg-width) + var(--peg-distance) + 0.5 *
            var(--peg-width)
    );
}

.peg:nth-of-type(3) {
    left: calc(
        2 * var(--peg-width) + 2 * var(--peg-distance) + 0.5 *
            var(--peg-width)
    );
}

/* disks */

.disk {
    width: calc(var(--size) * var(--disk-scaler));
    height: var(--disk-height);
    background-image: linear-gradient(
        var(--lightblue-color),
        var(--blue-color)
    );
    box-shadow: 0px 0px 5px #0007 inset, 0px 4px 4px #fff6 inset;
    border-radius: 10px;
    transform: translateX(
            calc(
                var(--x) * (var(--peg-width) + var(--peg-distance)) +
                    0.5 * (var(--disk-number) - var(--size)) *
                    var(--disk-scaler)
            )
        )
        translateY(
            calc(var(--game-height) - var(--y) * (var(--disk-height)))
        );
    position: absolute;
    transition: transform cubic-bezier(0.15, 0.43, 0.41, 1.01);
}
